In [1]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier

In [2]:
train= pd.read_csv("Downloads/titanic/train.csv")
test= pd.read_csv("Downloads/titanic/test.csv")
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
train= pd.read_csv("Downloads/titanic/train.csv").replace("male",0).replace("female",1).replace("S",0).replace("C",1).replace("Q",2)
test= pd.read_csv("Downloads/titanic/test.csv").replace("male",0).replace("female",1).replace("S",0).replace("C",1).replace("Q",2)

In [5]:
train["Age"].fillna(train.Age.mean(), inplace=True) 
train["Embarked"].fillna(train.Embarked.mean(), inplace=True)

In [6]:
combine1 = [train]
for train in combine1: 
        train['Salutation'] = train.Name.str.extract(' ([A-Za-z]+).', expand=False) 
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Salutation
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,0.0,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,1.0,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,0.0,Mrs
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,0.0,Mr

In [7]:
for train in combine1: 
        train['Salutation'] = train['Salutation'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
        train['Salutation'] = train['Salutation'].replace('Mlle', 'Miss')
        train['Salutation'] = train['Salutation'].replace('Ms', 'Miss')
        train['Salutation'] = train['Salutation'].replace('Mme', 'Mrs')
        del train['Name']
Salutation_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5} 
for train in combine1: 
        train['Salutation'] = train['Salutation'].map(Salutation_mapping) 
        train['Salutation'] = train['Salutation'].fillna(0)
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Salutation
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,NaN,0.0,1.0
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,C85,1.0,3.0
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,0.0,2.0
3,4,1,1,1,35.0,1,0,113803,53.1000,C123,0.0,3.0
4,5,0,3,0,35.0,0,0,373450,8.0500,NaN,0.0,1.0

In [8]:
for train in combine1: 
    train['Ticket_Lett'] = train['Ticket'].apply(lambda x: str(x)[0])
    train['Ticket_Lett'] = train['Ticket_Lett'].apply(lambda x: str(x)) 
    train['Ticket_Lett'] = np.where((train['Ticket_Lett']).isin(['1', '2', '3', 'S', 'P', 'C', 'A']), train['Ticket_Lett'],\
                           np.where((train['Ticket_Lett']).isin(['W', '4', '7', '6', 'L', '5', '8']), '0','0')) 
    train['Ticket_Len'] = train['Ticket'].apply(lambda x: len(x))
    del train['Ticket']
train['Ticket_Lett'] = train['Ticket_Lett'].replace("1",1).replace("2",2).replace("3",3).replace("0",0).\
                       replace("S",3).replace("P",0).replace("C",3).replace("A",3)

In [9]:
train.head(50)
train['Ticket_Lett'].value_counts()

3    442
2    183
1    146
0    120
Name: Ticket_Lett, dtype: int64

In [10]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Salutation,Ticket_Lett,Ticket_Len
0,1,0,3,0,22.0,1,0,7.2500,NaN,0.0,1.0,3,9
1,2,1,1,1,38.0,1,0,71.2833,C85,1.0,3.0,0,8
2,3,1,3,1,26.0,0,0,7.9250,NaN,0.0,2.0,3,16
3,4,1,1,1,35.0,1,0,53.1000,C123,0.0,3.0,1,6
4,5,0,3,0,35.0,0,0,8.0500,NaN,0.0,1.0,3,6

In [11]:
for train in combine1: 
    train['Cabin_Lett'] = train['Cabin'].apply(lambda x: str(x)[0]) 
    train['Cabin_Lett'] = train['Cabin_Lett'].apply(lambda x: str(x)) 
    train['Cabin_Lett'] = np.where((train['Cabin_Lett']).isin([ 'F', 'E', 'D', 'C', 'B', 'A']),train['Cabin_Lett'],\
                          np.where((train['Cabin_Lett']).isin(['W', '4', '7', '6', 'L', '5', '8']), '0','0'))
del train['Cabin'] 
train['Cabin_Lett'] = train['Cabin_Lett'].replace("A",1).replace("B",2).replace("C",1).replace("0",0).\
                      replace("D",2).replace("E",2).replace("F",1)

In [12]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Salutation,Ticket_Lett,Ticket_Len,Cabin_Lett
0,1,0,3,0,22.0,1,0,7.2500,0.0,1.0,3,9,0
1,2,1,1,1,38.0,1,0,71.2833,1.0,3.0,0,8,1
2,3,1,3,1,26.0,0,0,7.9250,0.0,2.0,3,16,0
3,4,1,1,1,35.0,1,0,53.1000,0.0,3.0,1,6,1
4,5,0,3,0,35.0,0,0,8.0500,0.0,1.0,3,6,0

In [13]:
train["FamilySize"] = train["SibSp"] + train["Parch"] + 1
for train in combine1:
    train['IsAlone'] = 0
    train.loc[train['FamilySize'] == 1, 'IsAlone'] = 1

In [14]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Salutation,Ticket_Lett,Ticket_Len,Cabin_Lett,FamilySize,IsAlone
0,1,0,3,0,22.0,1,0,7.2500,0.0,1.0,3,9,0,2,0
1,2,1,1,1,38.0,1,0,71.2833,1.0,3.0,0,8,1,2,0
2,3,1,3,1,26.0,0,0,7.9250,0.0,2.0,3,16,0,1,1
3,4,1,1,1,35.0,1,0,53.1000,0.0,3.0,1,6,1,2,0
4,5,0,3,0,35.0,0,0,8.0500,0.0,1.0,3,6,0,1,1

In [15]:
train_data = train.values
xs = train_data[:, 2:] # Pclass以降の変数
y  = train_data[:, 1]  # 正解データ

In [16]:
xs

array([[ 3.        ,  0.        , 22.        , ...,  0.        ,
         2.        ,  0.        ],
       [ 1.        ,  1.        , 38.        , ...,  1.        ,
         2.        ,  0.        ],
       [ 3.        ,  1.        , 26.        , ...,  0.        ,
         1.        ,  1.        ],
       ...,
       [ 3.        ,  1.        , 29.69911765, ...,  0.        ,
         4.        ,  0.        ],
       [ 1.        ,  0.        , 26.        , ...,  1.        ,
         1.        ,  1.        ],
       [ 3.        ,  0.        , 32.        , ...,  0.        ,
         1.        ,  1.        ]])

In [17]:
xs.shape

(891, 13)

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null int64
dtypes: float64(2), int64(6), object(3)
memory usage: 36.0+ KB

In [19]:
test["Age"].fillna(train.Age.mean(), inplace=True)
test["Fare"].fillna(train.Fare.mean(), inplace=True)

combine = [test]
for test in combine:
    test['Salutation'] = test.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
for test in combine:
    test['Salutation'] = test['Salutation'].replace(['Lady', 'Countess','Capt', 'Col',\
         'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    test['Salutation'] = test['Salutation'].replace('Mlle', 'Miss')
    test['Salutation'] = test['Salutation'].replace('Ms', 'Miss')
    test['Salutation'] = test['Salutation'].replace('Mme', 'Mrs')
    del test['Name']
Salutation_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for test in combine:
    test['Salutation'] = test['Salutation'].map(Salutation_mapping)
    test['Salutation'] = test['Salutation'].fillna(0)

for test in combine:
        test['Ticket_Lett'] = test['Ticket'].apply(lambda x: str(x)[0])
        test['Ticket_Lett'] = test['Ticket_Lett'].apply(lambda x: str(x))
        test['Ticket_Lett'] = np.where((test['Ticket_Lett']).isin(['1', '2', '3', 'S', 'P', 'C', 'A']), test['Ticket_Lett'],
                                   np.where((test['Ticket_Lett']).isin(['W', '4', '7', '6', 'L', '5', '8']),
                                            '0', '0'))
        test['Ticket_Len'] = test['Ticket'].apply(lambda x: len(x))
        del test['Ticket']
test['Ticket_Lett']=test['Ticket_Lett'].replace("1",1).replace("2",2).replace("3",3).replace("0",0).replace("S",3).replace("P",0).replace("C",3).replace("A",3) 

for test in combine:
        test['Cabin_Lett'] = test['Cabin'].apply(lambda x: str(x)[0])
        test['Cabin_Lett'] = test['Cabin_Lett'].apply(lambda x: str(x))
        test['Cabin_Lett'] = np.where((test['Cabin_Lett']).isin(['T', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']),test['Cabin_Lett'],
                                   np.where((test['Cabin_Lett']).isin(['W', '4', '7', '6', 'L', '5', '8']),
                                            '0','0'))        
        del test['Cabin']
test['Cabin_Lett']=test['Cabin_Lett'].replace("A",1).replace("B",2).replace("C",1).replace("0",0).replace("D",2).replace("E",2).replace("F",1).replace("G",1) 

test["FamilySize"] = train["SibSp"] + train["Parch"] + 1

for test in combine:
    test['IsAlone'] = 0
    test.loc[test['FamilySize'] == 1, 'IsAlone'] = 1
    
test_data = test.values
xs_test = test_data[:, 1:]

In [20]:
test.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Salutation,Ticket_Lett,Ticket_Len,Cabin_Lett,FamilySize,IsAlone
0,892,3,0,34.5,0,0,7.8292,2,1,3,6,0,2,0
1,893,3,1,47.0,1,0,7.0000,0,3,3,6,0,2,0
2,894,2,0,62.0,0,0,9.6875,2,1,2,6,0,1,1
3,895,3,0,27.0,0,0,8.6625,0,1,3,6,0,2,0
4,896,3,1,22.0,1,1,12.2875,0,3,3,7,0,1,1

In [21]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# holdout
X_train,X_test,y_train,y_test=train_test_split(xs,
                                               y,
                                               test_size=0.2,
                                               random_state=1)
# set pipelines for different algorithms
pipelines = {
    'knn':
        Pipeline([('scl',StandardScaler()),
                  ('est',KNeighborsClassifier())]),
    'logistic':
        Pipeline([('scl',StandardScaler()),
                  ('est',LogisticRegression(random_state=1))]),
    'rsvc':
        Pipeline([('scl',StandardScaler()),
                  ('est',SVC(C=1.0,kernel='rbf',class_weight='balanced',random_state=1))]),
    'lsvc':
        Pipeline([('scl',StandardScaler()),
                  ('est',LinearSVC(C=1.0,class_weight='balanced',random_state=1))]),
    'rf':
        Pipeline([('scl',StandardScaler()),
                  ('est',RandomForestClassifier(random_state=1))]),
    'gb':
        Pipeline([('scl',StandardScaler()),
                  ('est',GradientBoostingClassifier(random_state=1))]),
    'mlp':
        Pipeline([('scl',StandardScaler()),
                  ('est',MLPClassifier(hidden_layer_sizes=(5,3),
                                       max_iter=500,
                                       random_state=1))])
}
# fit & evaluation
scores = {}
for pipe_name, pipeline in pipelines.items():
    pipeline.fit(X_train,y_train )
    scores[(pipe_name,'train')] = accuracy_score(y_train, pipeline.predict(X_train))
    scores[(pipe_name,'test')] = accuracy_score(y_test, pipeline.predict(X_test))

pd.Series(scores).unstack()

C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

              test     train
gb        0.754190  0.914326
knn       0.770950  0.858146
logistic  0.793296  0.834270
lsvc      0.787709  0.823034
mlp       0.787709  0.846910
rf        0.776536  0.980337
rsvc      0.776536  0.867978

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, auc

pipeline = Pipeline([('scl',StandardScaler()),
                     ('est',LogisticRegression(random_state=1))])

parameters = {
        'est__C'      : [0.1,1.0,10.0,100.0],
        'est__penalty' : ['l1','l2'],
}

logistic_regression = GridSearchCV(pipeline, parameters, scoring='accuracy', cv=3)
logistic_regression.fit(xs, y)
 
print(logistic_regression.best_params_)
print(logistic_regression.best_score_)

{'est__C': 0.1, 'est__penalty': 'l2'}
0.8114478114478114

C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, auc

pipeline = Pipeline([('scl',StandardScaler()),
                     ('est',RandomForestClassifier(random_state=1))])

parameters = {
        'est__n_estimators'      : [50,100,150],
        'est__min_samples_split' : [2,5,8],
        'est__max_depth'         : [5,15,30],
        
}

random_forest = GridSearchCV(pipeline, parameters, scoring='accuracy', cv=3)
random_forest.fit(xs, y)
 
print(random_forest.best_params_)
print(random_forest.best_score_)

{'est__max_depth': 15, 'est__min_samples_split': 5, 'est__n_estimators': 100}
0.8451178451178452

In [28]:
pd.DataFrame(random_forest.cv_results_)[:5]

C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_est__max_depth,param_est__min_samples_split,param_est__n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,mean_train_score,std_train_score
0,0.061001,0.018755,0.006867,6.504013e-03,5,2,50,"{'est__max_depth': 5, 'est__min_samples_split'...",0.801347,0.835017,0.831650,0.822671,0.015141,22,0.877104,0.858586,0.856902,0.864198,0.009152
1,0.088400,0.007354,0.015600,1.946680e-07,5,2,100,"{'est__max_depth': 5, 'est__min_samples_split'...",0.814815,0.845118,0.835017,0.831650,0.012598,14,0.890572,0.865320,0.853535,0.869809,0.015450
2,0.134634,0.006988,0.013733,2.639966e-03,5,2,150,"{'est__max_depth': 5, 'est__min_samples_split'...",0.814815,0.845118,0.838384,0.832772,0.012992,13,0.890572,0.863636,0.850168,0.868126,0.016798
3,0.050567,0.011929,0.009367,4.524322e-03,5,5,50,"{'est__max_depth': 5, 'est__min_samples_split'...",0.804714,0.831650,0.824916,0.820426,0.011446,25,0.870370,0.863636,0.853535,0.862514,0.006919
4,0.100134,0.008733,0.008533,6.452549e-03,5,5,100,"{'est__max_depth': 5, 'est__min_samples_split'...",0.814815,0.845118,0.824916,0.828283,0.012598,17,0.890572,0.860269,0.855219,0.868687,0.015612

In [29]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, auc

pipeline = Pipeline([('scl', StandardScaler()),
                     ('est', GradientBoostingClassifier(random_state=1))])

parameters = {
        'est__n_estimators' : [25,50,75],
        "est__max_depth":[3,5,8],
        'est__min_samples_split' : [0.05, 0.1, 0.15],
        "est__learning_rate": [0.15, 0.20,0.25],
}

gradient_boosting = GridSearchCV(pipeline, parameters, scoring='accuracy', cv=3, )
gradient_boosting.fit(xs, y)
 
print(gradient_boosting.best_params_)
print(gradient_boosting.best_score_)

{'est__learning_rate': 0.2, 'est__max_depth': 5, 'est__min_samples_split': 0.1, 'est__n_estimators': 50}
0.8451178451178452

In [30]:
pd.DataFrame(gradient_boosting.cv_results_)[:5]

C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
C:\Users\apple\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_est__learning_rate,param_est__max_depth,param_est__min_samples_split,param_est__n_estimators,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,mean_train_score,std_train_score
0,0.030834,0.012304,0.000833,0.001179,0.15,3,0.05,25,"{'est__learning_rate': 0.15, 'est__max_depth':...",0.818182,0.855219,0.831650,0.835017,0.015307,27,0.888889,0.873737,0.873737,0.878788,0.007142
1,0.041600,0.007354,0.000000,0.000000,0.15,3,0.05,50,"{'est__learning_rate': 0.15, 'est__max_depth':...",0.824916,0.841751,0.824916,0.830527,0.007936,50,0.909091,0.887205,0.898990,0.898429,0.008944
2,0.057200,0.007354,0.000000,0.000000,0.15,3,0.05,75,"{'est__learning_rate': 0.15, 'est__max_depth':...",0.828283,0.848485,0.828283,0.835017,0.009523,27,0.927609,0.904040,0.907407,0.913019,0.010408
3,0.026000,0.007354,0.000000,0.000000,0.15,3,0.1,25,"{'est__learning_rate': 0.15, 'est__max_depth':...",0.801347,0.858586,0.828283,0.829405,0.023381,54,0.883838,0.868687,0.867003,0.873176,0.007571
4,0.036400,0.007354,0.000000,0.000000,0.15,3,0.1,50,"{'est__learning_rate': 0.15, 'est__max_depth':...",0.828283,0.858586,0.828283,0.838384,0.014285,9,0.910774,0.882155,0.892256,0.895062,0.011851

In [31]:
import pickle

filename = 'finalized_model.sav1'
pickle.dump(random_forest, open(filename, 'wb'))

# 保存したモデルをロードする
loaded_model = pickle.load(open(filename, 'rb'))

In [32]:
import pickle
filename = 'finalized_model.sav1'
loaded_model = pickle.load(open(filename, 'rb'))

In [33]:
Y_pred = loaded_model.predict(xs_test)
Y_pred[:10]

array([0., 0., 0., 0., 1., 0., 0., 0., 1., 0.])

In [34]:
Y_proba = loaded_model.predict_proba(xs_test)[:,1]

In [35]:
Y_proba.shape

(418,)

In [36]:
Y_proba[:10]

array([0.04005844, 0.33395238, 0.1491676 , 0.15351611, 0.60077734,
       0.04531818, 0.3453852 , 0.08530159, 0.62120238, 0.08177381])

In [37]:
import csv
with open("predict_result_data.csv", "w") as f:
    writer = csv.writer(f, lineterminator='\n')
    writer.writerow(["PassengerId", "Survived"])
    for pid, survived in zip(test_data[:,0].astype(int), Y_pred.astype(int)):
        writer.writerow([pid, survived])

In [38]:
import csv
with open("predict_result_data1.csv", "w") as f:
    writer = csv.writer(f, lineterminator='\n')
    writer.writerow(["PassengerId", "Survived"])
    for pid, survived in zip(test_data[:,0].astype(int), Y_proba.astype(float)):
        writer.writerow([pid, survived])